<div class="container">
  <h1>Hello from Movies🎞</h1>
</div>

<div class="banner">
  <div class="text-center text-white">
    <h1>Keep all your movies!</h1>
    <h3 class="typed-js" data-controller="typed-js">Movie Time!</h3>
  </div>
</div>
<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
