<div class="navbar">
  <h1>Hello from Movies🎞</h1>
</div>

<div class="container">
  <div class="banner" style="background-image: url(https://unsplash.it/640/425?image=40);">
  <div class="text-center text-white">
    <h1>Keep all your movies!</h1>
    <h2 class="typed-js" data-controller="typed-js">Movie Time!</h2>
  </div>
</div>
<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>



<%# not apply %>
<%# <%= image_tag("/app/assets/images/rails_watch_list.jpg", {:style => "width:100px;"}) %>
https://unsplash.com/photos/hwQZLREASZk
https://unsplash.it/640/425?image=40
